.perfection{
  &__title {
    padding-top: 35px;
    padding-bottom: 35px;

    p {
      padding-top: 40px;
      text-align: center;
      line-height: 1.3;
      font-family: Playfair Display;
      font-size: 22px;
    }
  }

  &__break-line {
    padding-top: 35px;
    width: 75%;
    margin: auto;

    .break-line-item {
      height: 9px;
      background: url("data:image/svg+xml;base64,CiAgICAKPHN2ZyB3aWR0aD0iMSIgaGVpZ2h0PSI5IiB2ZXJzaW9uPSIxLjEiIHN0eWxlPSJ0cmFuc2Zvcm06IHRyYW5zbGF0ZTNkKDBweCwgMHB4LCAwcHgpOyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiM5NDk0OTQiIGQ9Ik0wLDQuNUwxLDQuNSIgc3Ryb2tlLXdpZHRoPSIxcHgiPjwvcGF0aD48L3N2Zz4K") center center repeat-x;
    }
  }

  &__subtitle {
    padding-top: 35px;
    padding-bottom: 20px;

    .lazy-image {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 1.3;
      padding-top: 10px;
      padding-bottom:10px ;
    }
  }
}

.perfection-item {
  padding-top: 80px;

  &__title p {
    padding: 20px 0 30px 50px ;
    font-size: 20px;
  }
  
  .image {
    padding-top: 20px;
  }
}